.ns-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    background:#fff;
}

.ns-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.ns-menu > li > a {
    border-left: 5px solid transparent;
}

.ns-menu a{
    position: relative;
    display: block;
    padding: 5px 5px 5px 10px;
    font-size:14px;
}

.ns-menu > li.active > a{
    border-left-color: #00a65a;
}

.ns-menu li > a > .collapse_btn {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    width:20px;
    height:20px;
    transition: all .35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-menu>li>.treeview-menu {
    margin: 0;
    background: #f4f4f4;
}

.ns-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

.ns-menu .treeview-menu > li {
    margin: 0;
}

.ns-menu .treeview-menu > li > a {
    color: #3c8dbc;
}
.ns-menu li.active > a{
    font-weight: bold;
}
.ns-menu li.active > ul.treeview-menu{
    display: block;
}
.ns-menu li a .collapse_btn.open{
    transform: rotate(-90deg);
}